@model CornNuggets.DataAccess.Models.Customers

@{
    ViewData["Title"] = "Create";
}

<h1>Add New</h1>

<h3>Customer</h3>
<hr />
<form name="invoice" action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" value="FirstName"><output name="FirstName"></output>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname" value="LastName"><output name="LastName"></output><br />
    <input type="button" formmethod="post" />
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
