@{
    ViewData["Title"] = "About Us";
}
<h1 class="card-title">@ViewData["Title"]</h1>

<p class="content">
    Corn Nuggets is a catering business with wholesome and tasty treats that can be added to any party. We currently have over 15 stores, across the United States, 
    to choose from. You can order for pick up or delivery. Please provide 24 business hours notice for a catering delivery and set up.  We look forward to working with you.</p>
