@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1  class="card-title" >Corn Nuggets Store Operations </h1>
        <table style="width:100%">

            <tr>
                <td>
                    <img src="https://live.staticflickr.com/65535/49755529223_c76d51898a_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Customers" asp-action="Index">Customer Lookup</a>
                </td>
                <td>
                    <img src="https://live.staticflickr.com/65535/49756394112_f349d09a53_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Orders" asp-action="Create">Place New Order</a>
                </td>
                <td>
                    <img src="https://live.staticflickr.com/65535/49756057036_94c45c8270_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Customers" asp-action="Create">New Customer</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="content">Search for a customer by name.</p>
                </td>
                <td>
                    <p class="content">Place an order for a customer at their preferred store.</p>
                </td>
                <td>
                    <p class="content">Add a new customer.</p>
                </td>
            </tr>
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>                    
                <td>
                    .
                </td>
            </tr>            
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://live.staticflickr.com/65535/49756394132_58a9d56297_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Orders" asp-action="Index">Customer Order History</a>
                </td>
                <td>
                    <img src="https://live.staticflickr.com/65535/49755529238_18a339c648_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Orders" asp-action="Index">Store Order History</a>
                <td>
                    <img src="https://live.staticflickr.com/65535/49756057091_2ac994d896_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="OrderLogs" asp-action="Index">View Order Details</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="content">Display all order history of a customer.</p>
                </td>
                <td>
                    <p class="content">Display all order history of a store.</p>
                </td>
                <td>
                    <p class="content">Display details of an order.</p>
                </td>
            </tr>

            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <img src="https://live.staticflickr.com/65535/49755529178_a556ae9f31_m.jpg" /><br />
                    <a type="button" asp-area="" asp-controller="Products" asp-action="Index">Product Pricing</a>
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
        <br />
        <br>
        <p></p>
    </div>
    