@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Corn Nuggets!</h1>
    <p>Click here to begin your <a asp-area="" asp-controller="Orders" asp-action="Create">Order Now!</a>.</p>
</div>
