@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1  class="display-4" >Welcome To Corn Nuggets!</h1>
        <table style="width:100%">

            <tr>
                <td>
                    <a type="button" asp-area="" asp-controller="Customers" asp-action="Index">Customer Lookup</a>
                </td>
                <td>
                    <a type="button" asp-area="" asp-controller="Products" asp-action="Form">Place New Order</a>
                </td>
                <td>
                    <a type="button" asp-area="" asp-controller="Customers" asp-action="Index">New Customer</a>
                </td>
            </tr>
            <tr>
                <td>
                    Search for a customer by name.
                </td>
                <td>
                    Place an order for a customer at their preferred store.
                </td>
                <td>
                    Add a new customer.
                </td>
            </tr>
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>                    
                <td>
                    .
                </td>
            </tr>            
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    <a type="button" asp-area="" asp-controller="Orders" asp-action="Index">Customer Order History</a>
                </td>
                <td>
                    <a type="button" asp-area="" asp-controller="Orders" asp-action="Index">Store Order History</a>
                <td>
                    <a type="button" asp-area="" asp-controller="OrderLogs" asp-action="Index">View Order Details</a>
                </td>
            </tr>
            <tr>
                <td>
                    Display all order history of a customer.
                </td>
                <td>
                    Display all order history of a store.
                </td>
                <td>
                    Display details of an order.
                </td>
            </tr>

            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
                <td>
                    .
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <a type="button" asp-area="" asp-controller="Products" asp-action="Index">Product Pricing</a>
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
        <br />
        <br>
        <p></p>
    </div>
    